<h1>New Article</h1>
<!-- We call the helper method form_for, which gets stored as an object in |f| -->
<!-- :article is being passed into form_for -->
<!-- url: is an option being passed to form_for -->
<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
